# Database
DATABASE_URL="postgresql://user:password@localhost:5432/hesabketab?schema=public"

# NextAuth
AUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Resend (Email)
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
